.content {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: url("./assets/gondor_tree.png");
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: rgba(248, 248, 248, 0.753); */
}

.page {
  background-color: rgba(248, 248, 248, 0.753);
  width: 95vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz {
  width: 800px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quiz__section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quiz__section-heading {
  font-size: 2rem;
  height: 15%;
  align-items: center;
}

.quiz__section-question {
  align-items: stretch;
  height: 70%;
}

.quiz__section-ctas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.question__img {
  display: flex;
  justify-content: center;
}

.question__img-asset {
  width: 45%;
  height: auto;
}

.question__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-size: larger;
}

.question__options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.question__option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 25%;
  background-color: slategray;
  border: 2px solid rgb(44, 44, 44);
}

.question__option-selected {
  background-color: rgba(115, 33, 192, 0.856);
}

.question__option:hover {
  cursor: pointer;
  background-color: rgba(131, 142, 153, 0.815);
}

.quiz__cta {
  height: 50px;
  width: 25%;
  background-color: rgba(102, 113, 124, 0.582);
  border: none;
  border-radius: 5px;
}

.quiz__cta:hover {
  background-color: slategray;
  color: azure;
  cursor: pointer;
}

.results__modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 55%;
  width: 55%;
  background-color: rgba(169, 169, 169, 0.945);
  border-radius: 3px;
}

.results__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.results__row {
  height: 75px;
  font-size: 2rem;
}

.results__row-title {
  font-size: 2.25rem;
}

.results__row-close {
  display: flex;
  justify-content: center;
  width: 200px;
}

.results__score {
  font-size: 2rem;
}

.results__modal-close {
  height: 50px;
  width: 100%;
  background-color: rgba(102, 113, 124, 0.582);
  border: none;
  border-radius: 5px;
}

.results__modal-close:hover {
  background-color: slategray;
  color: azure;
  cursor: pointer;
}
